body {
	margin: 0;
  padding: 0;	
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	font-family: "PT Sans Narrow", Arial, sans-serif;
	text-transform: uppercase;
	color: #ffffff;
	background: #000000 url("../img/index-backgound.jpg") no-repeat center top;
	min-width: 960px;
}

.sprite {
    background-image: url(spritesheet.png);
    background-repeat: no-repeat;
    display: block;
}

.sprite-f-b {
    width: 12px;
    height: 22px;
    background-position: -10px -10px;
}

.sprite-ico-circle {
    width: 20px;
    height: 20px;
    background-position: -10px -52px;
}

.sprite-ico-cross {
    width: 12px;
    height: 12px;
    background-position: -10px -92px;
}

.sprite-ico-cross-w {
    width: 23px;
    height: 23px;
    background-position: -10px -124px;
}

.sprite-ico-f-w {
    width: 12px;
    height: 22px;
    background-position: -10px -167px;
}

.sprite-ico-i-b {
    width: 21px;
    height: 21px;
    background-position: -10px -209px;
}

.sprite-ico-i-w {
    width: 21px;
    height: 21px;
    background-position: -10px -250px;
}

.sprite-ico-index-locked {
    width: 15px;
    height: 17px;
    background-position: -10px -291px;
}

.sprite-ico-index-user {
    width: 15px;
    height: 15px;
    background-position: -10px -328px;
}

.sprite-ico-point {
    width: 8px;
    height: 8px;
    background-position: -10px -363px;
}

.sprite-ico-square {
    width: 20px;
    height: 20px;
    background-position: -10px -391px;
}

.sprite-ico-v-b {
    width: 25px;
    height: 16px;
    background-position: -10px -431px;
}

.sprite-ico-v-w {
    width: 25px;
    height: 16px;
    background-position: -10px -467px;
}

.sprite-icon-login {
    width: 18px;
    height: 16px;
    background-position: -10px -503px;
}


h1 {
	font-size: 30px;
	line-height: 36px;
		
}

h2 {
	font-size: 24px;
	line-height: 29px;
	
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/* Только для оформления сетки */  
/* html,
body {
  min-width: 1200px;
  min-height: 1162px;
  margin: 0;
  padding: 0;
} 
body {
  background: #000000 url("../img/barbershop-shop-grid.jpg") no-repeat 50% 0px; 
	background: #000000 url("../img/barbershop-catalog-item-grid.jpg") no-repeat 50% 0px;
  background-size: 1200px auto;
}  */ 


.main-header {
	color: #ffffff;
  
  background-color: #000000;
  margin-bottom: 60px;

  /* Только для оформления сетки 
  min-height: 70px;*/
	outline: 1px solid rgb(0, 128, 0);
	background: rgba(0, 128, 0,0.5);
}

.container {
  width: 940px;
	margin: 0 auto;
  padding: 0 10px;
  
  /* Только для оформления сетки 
  min-height: 70px;*/
	outline: 1px solid rgb(255, 45, 82);
	background: rgba(255, 45, 82,0.5);
}

.main-navigation {
	position: relative;	
	float: left;
	width: 780px;
	min-height: 70px;

  /* Только для оформления сетки 
  min-height: 70px;*/
	outline: 1px solid rgb(234, 255, 45);
	background: rgba(234, 255, 45, 0.2);
}

.main-navigation-logo {
	position: absolute;
	
	height: 24px;
  margin: 0 auto;
}

.main-navigation-logo  img{
	width: 111px;
	height: 24px;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
	
  list-style: none;
	font-size: 0;
}

.main-navigation-logo+ul {
  margin-left: 150px;
	
}

.main-navigation li {
  display: inline-block;

	font-size: 16px;
  line-height: 20px;
  vertical-align: top;
}


.main-navigation a {
  display: block;
  padding: 25px 20px;

	
	color: #ffffff;
  text-decoration: none;
	
}

.main-navigation-logo a {
  padding-bottom: 0px;
	
}



.main-navigation ul a:hover {
  background: #242424;
}

.user-block {
	float: right;
	max-width: 140px;
	
  /* Только для оформления сетки 
  min-height: 70px;*/
	outline: 1px solid rgb(234, 255, 45);
	background: rgba(234, 255, 45, 0.2);
}

.login:hover {
  background: #242424;
}

.login {
  position: relative;

	
	display: inline-block;	
	padding: 25px 20px;
  padding-left: 50px;
	
  font-size: 16px;
  line-height: 20px;
	vertical-align: top;
  color: #ffffff;
  text-decoration: none;
}

.login::before {
  content: "";
  position: absolute;
  top: 28px;
  left: 20px;
	
  width: 18px;
  height: 18px;

  background: transparent url("../img/sprite.png") no-repeat;
  background-position: -1px -210px;
	opacity: 0.3;
}

.login:hover::before {
  opacity: 1;
}

.inner-page {
	/* padding-top: 55px; */
	padding-bottom: 50px;
	
	/* Только для оформления сетки 
  min-height: 855px;*/
	outline: 1px solid rgb(0, 128, 0);
	background: rgba(0, 128, 0,0.2);
}

.second-header {
	margin-bottom: 40px;
	
  /* Только для оформления сетки 
  min-height: 70px;*/
	outline: 1px solid rgb(0, 0, 255);
	background: rgba(0, 0, 255,0.5);	
}

.content {
	/* Только для оформления сетки 
  min-height: 700px;*/
	outline: 1px solid rgb(255, 45, 82);
	background: rgba(255, 45, 82,0.5);
}

.content-left {
	float: left;
	width: 220px;
	
  /* Только для оформления сетки 
  min-height: 700px;*/
	outline: 1px solid rgb(234, 255, 45);
	background: rgba(234, 255, 45, 0.2);	
}
.gallery-content-left > img  {
	margin-bottom: 5px;
	
}

.content-right {
	float: right;
	width: 700px;
	
  /* Только для оформления сетки 
  min-height: 700px;*/
	outline: 1px solid rgb(234, 255, 45);
	background: rgba(234, 255, 45, 0.2);	
}

.gallery-content-left {
	float: left;
	width: 460px;
	margin-right: 90px;
  /* Только для оформления сетки 
  min-height: 700px;*/
	outline: 1px solid rgb(234, 255, 45);
	background: rgba(234, 255, 45, 0.2);	
}

.gallery-content-right {
	float: left;
	width: 390px;

  /* Только для оформления сетки 
  min-height: 700px;*/
	outline: 1px solid rgb(234, 255, 45);
	background: rgba(234, 255, 45, 0.2);	
}



.index-logo {
  width: 368px;
  min-height: 204px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
	height: 204px;
  margin: 0 auto;
}

.index-logo img {
  width: 368px;
  height: 204px;
}


.features {
  margin-bottom: 80px;
}

.features-item {
  float: left;
  width: 300px;
  margin-right: 20px;
	
  text-align: center;

}

.features-item:last-child {
  margin-right: 0;
}

.features-name {
  position: relative;

	
  display: block;
  margin-bottom: 30px;
  padding-bottom: 35px;

  font-size: 30px;
  line-height: 42px;
}

.features-item p {
  margin: 10px;
  margin-bottom: 0;
}

.features-name::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;

  display: block;
  width: 20px;
  height: 20px;
	margin-left: -10px;


  background-color: #ffffff;
	transform: rotate(45deg);

}


.index-content {
  margin-bottom: 35px;
  padding: 50px 80px;
	
	color: #000000;

  background: url("../img/index-content-shadow.png") no-repeat center,
							#f8f5f2 url("../img/background-light.jpg");

}

.index-content-left {
  float: left;
  width: 380px;
  min-height: 330px;
}

.index-content-right {
  float: right;
  width: 300px;
  min-height: 330px;
}

.index-content-title {
  margin: 0;
  margin-bottom: 25px;
	
	font-size: 30px;
  line-height: 42px;
}

.index-content p {
  margin: 0;
  margin-bottom: 25px;
}

.news-preview {
  margin: 0;
  padding: 0;
  padding-right: 35px;

  list-style: none;
}

.news-preview li {
  margin-bottom: 25px;
}

.news-preview p {
  margin-bottom: 0;
}

.news-preview time {
  text-transform: none;
}

.btn {
	display: inline-block;
	margin-right: 16px;
  padding: 10px 33px;
	
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
	vertical-align: top;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #000000;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btn:active {
  background-color: #663d15;
}

/* стили для кнопки, в случае если она неактивна */

.btn.disabled,
.btn:disabled {
  cursor: default;
  opacity: 0.5;
}

.btn.disabled:hover,
.btn:disabled:hover {
  background-color: #000000;
}

/*end стили для кнопки, в случае если она неактивна */

.gallery {
  position: relative;

  height: 260px;
}

.gallery-content {
  height: 164px;
  margin: 0;
	
	background-color: #cccccc;
  border: 7px solid #ffffff;
}

.gallery-content img {
  width: 286px;
  height: 164px;
}

.gallery .btn {
  position: absolute;
  bottom: 0;

  width: 140px;
  margin: 0;
}

.gallery-prev {
  left: 0;
}

.gallery-next {
  right: 0;
}

.appointment-form input {
	float: left;
	width: 106px;
	margin-right: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
	
	font-size: 14px;
  line-height: 24px;
  font-family: "PT Sans Narrow", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
	
  background-color: #f9f6f3;
  border: 2px solid #000000;
  outline: none;
}

.appointment-form input:focus {
  border: 2px solid #663d15;
}

.appointment-form input:nth-child(2n) {
  margin-right: 0;
}

.appointment-form .btn {
  clear: both;
  width: 100%;
}

.index-main-footer {
  margin-top: 65px;
  padding-top: 60px;
  padding-bottom: 40px;
	
	color: #ffffff; /* лучше явно прописать везде для футера */

  background: #252525 url("img/pattern-black.jpg");

}

.product-card {
	  float: left;
    width: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
		
		/* только для сетки */
	min-height: 286px;
}

.product-card:nth-child(3n) {
  margin-right: 0;
}
.paginator {
	margin-top: 50px;
	
}

.main-footer {
	padding-top: 60px;
	padding-bottom: 45px;	
	
	color: #ffffff; /* лучше явно прописать везде для футера */

  background: #252525 url("img/pattern-black.jpg");
	  /* Только для оформления сетки 
  min-height: 190px;*/
	outline: 1px solid rgb(0, 128, 0);
	background: rgba(0, 128, 0,0.2);
}

.footer-contacts {
	float: left;
	width: 320px;
	margin-right: 60px;
	
  /* Только для оформления сетки 
  min-height: 90px;*/
	outline: 1px solid rgb(234, 255, 45);
	background: rgba(234, 255, 45, 0.2);
}

.footer-contacts a {
  color: #ffffff;
}

.footer-contacts a:hover {
  text-decoration: none;
}


.footer-social {
	float: left;
	width: 180px;
	
	text-align: center;
  /* Только для оформления сетки 
  min-height: 90px;*/
	outline: 1px solid rgb(234, 255, 45);
	background: rgba(234, 255, 45, 0.2);
}

.footer-social p {
  margin: 0;
  margin-bottom: 15px;

}

.social-btn {
  position: relative;
  
  display: inline-block;
  width: 43px;
  height: 43px;
  margin: 0 2px;
	
  font-size: 0;
  vertical-align: top;
  text-decoration: none;

  background-color: #000000;
	
	transition: 
    background-position 0.5s,
    background-color 0.5s;
}

.social-btn:hover {
  background-color: #ffffff;
}

.social-btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background-image: url("../img/sprites.png");
  background-repeat: no-repeat;  
} 

.social-btn-vk::before {
  width: 25px;
  height: 16px;
  background-position: -10px -467px;
}

.social-btn-fb::before  {
  width: 12px;
  height: 22px;
  background-position: -10px -167px;
}

.social-btn-inst::before  {
	width: 21px;
	height: 21px;
	background-position: -10px -250px;
}

.social-btn-vk:hover::before {
  background-position: -10px -431px;
}

.social-btn-fb:hover::before  {
  background-position: -10px -10px;
}

.social-btn-inst:hover::before  {
    background-position: -10px -209px;
}

.footer-copyright {
	float: right;
	max-width: 180px;

  /* Только для оформления сетки 
  min-height: 90px;*/
	outline: 1px solid rgb(234, 255, 45);
	background: rgba(234, 255, 45, 0.2);
}

.footer-copyright p {
  margin: 0;
  margin-bottom: 15px;

  text-align: center;
}

.footer-copyright .btn {
  margin-right: 0;
}

.footer-copyright .btn:hover {
  color: #000000;

  background-color: #ffffff;
}